<div id="cabecera">
    <script type="text/javascript">
    
    
    document.write(function (D));
    
    </script>
    
    <input type="Button" class="Boton" onclick="Cerrar()" value="Cerrar">
    <script type="text/javascript">
        function Cerrar(){

        window.close();
        }