Body{
    background: rgb(14, 123, 150);

   }

input{
    
        position: relative;
        display: inline-block;
        padding:  15px 30px;
        color: rgb(10, 35, 114);
        letter-spacing: 7px;
        font-size: 24px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
       
}