h1{
    position: relative;
    text-align: center;
    padding: 5px;
    background: rgb(248, 245, 213);
    font-size: 30px;
}
h2{
    position: relative;
    text-align: center;
    padding: 5px;
    background: rgb(248, 245, 213);
    font-size: 30px;
}

body{
    background: rgb(254, 255, 254);

   }

   
   p{
    font-weight: bold;
   }
   .contenedor {
    position: relative;
    z-index: 1;
    max-width: 400px;
    margin: 0 auto 25px;
    padding: 25px;
    text-align: center;
    background: rgb(57, 62, 68);
    font-family: cursive;
    border-radius: 25px;
    
    
   }

    .boton  {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #eeeef1;
    padding:  8px 1px;
    width: 100px;
    outline: none;
    color:#e0eaf5;
    transition: 0.25s;
    cursor: pointer;
}
    

