body{
    color: darkslategray; background-color: #CFC; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cambria, serif; font-size: 16px;

}

h1{color: rebeccapurple;}

strong {
    font-size: 20px;
    }